*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto" sans-serif;
    font-weight: 300;
    color: #363636;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 34px;
    height: 104px;
    border-bottom: 1px solid #d4d4d4;
}

.search-input {
    background: url("../img/search-icon.svg") no-repeat center left;
    padding-left: 38px;
    font-style: normal;
    font-weight: normal;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #a5a5a5;
    margin-left: 34px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #a5a5a5;
    margin-left: 34px;
}

.navigation {
    margin-right: 44px;
    margin-left: auto;
}

.navigation-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
    margin-right: 18px;
}

.button-group {
    display: flex;
    height: 100%;
}

.button {
    height: 100%;
    font-size: 18px;
    line-height: 21px;
    border: none;
    cursor: pointer;
}

.sign-up {
    color: #5671f6;
    background-color: #fff;
    padding: 0 34px;
    border-left: 1px solid #d4d4d4;
}

.login {
    color: #ffffff;
    background-color: #5671f6;
    padding: 0 50px;
}

.mobile-buttons {
    display: none;
}

.m-menu-button,
.search-button {
    padding: 5px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.menu-line {
    display: block;
    height: 2px;
    background-color: #000000;
    width: 16px;
    margin: 3px 0;
}

.container {
    max-width: 1130px;
    margin: auto;
}

.film {
    padding: 80px 0;
    border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
    display: flex;
}

.film-trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.poster {
    border-radius: 5px 5px 0 0;
    width: 358px;
}

.trailer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 0 0 5px 5px;
    padding: 25px 0;
    cursor: pointer;
}

.trailer-button-icon {
    margin-right: 14px;
}

.film-title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 16px;
}

.film-subtitle {
    display: block;
    margin: 16px 0 32px;
    font-size: 18px;
    line-height: 21px;
    color: #a5a5a5;
}

.film-description {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    max-width: 514px;
}

.about-film {
    display: flex;
    margin-bottom: 50px;
}

.left-side {
    margin-right: 40px;
}

.about-text {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.about-text-bold {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.film-rating-counter {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5671f6;
    border-radius: 10px;
    margin-right: 28px;
}

.rating-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 12px;
}

.rating-text {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 19px;
}

.rating-text-bold {
    font-weight: bold;
}

.cast {
    margin-top: 70px;
    margin-bottom: 100px;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.section-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #a5a5a5;
    margin-right: 30px;
}

.section-title.active {
    color: #363636;
    font-weight: 900;
}

.tabs-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    margin-bottom: 35px;
}

.card-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.name {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5671f6;
    margin: 0 0 6px;
}

.en-name {
    font-size: 16px;
    line-height: 19px;
    color: #a5a5a5;
}

.news {
    background-color: #f3f3f3;
    padding-top: 70px;
    padding-bottom: 100px;
}

.section-news-title {
    font-weight: 900;
    color: #000000;
    margin-bottom: 65px;
}

.news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-card {
    flex-basis: 23%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.news-data {
    font-size: 14px;
    line-height: 16px;
}

.news-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 14px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        height: 90px;
        padding-left: 20px;
    }
    .sign-up {
        padding-left: 20px;
        padding-right: 20px;
    }
    .card-image {
        width: 70px;
        height: 70px;
    }
    .navigation {
        margin-right: 20px;
    }
    .search-input {
        margin-left: 20px;
    }
    .navigation-link {
        margin-right: 10px;
        font-size: 16px;
    }
    .header-logo::after {
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 760px;
    }
    .navigation {
        display: none;
    }
    .search-input {
        margin-right: auto;
    }
    .film-title {
        font-size: 24px;
        line-height: 1.4;
    }
    .film-subtitle {
        margin-bottom: 20px;
    }
    .film-description,
    .about-film {
        margin-bottom: 30px;
    }
    .about-text-bold {
        display: block;
        margin-bottom: 10px;
    }
    .card-image {
        width: 100px;
        height: 100px;
    }
    .card {
        flex-basis: 50%;
    }
    .news-card {
        flex-basis: 48%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .header {
        height: 80px;
    }
    .film {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .film-wrapper {
        flex-wrap: wrap;
    }
    .film-text {
        order: -1;
        margin-bottom: 30px;
    }
    .cast,
    .news {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .mobile-buttons {
        display: block;
    }
    .button-group {
        display: none;
    }
    .search-input,
    .header-logo::after {
        display: none;
    }
    .header {
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 95%;
    }
    .film-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
        margin-top: 30px;
    }
    .film-subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 26px;
    }
    .film-description {
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 40px;
    }
    .about-film {
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .about-text-bold {
        display: inline;
    }
    .film-trailer,
    .poster {
        width: 100%;
    }
    .film-text {
        order: 1;
        margin-bottom: 0;
    }
    .tabs {
        margin-bottom: 35px;
    }
    .card {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .card-image {
        width: 60px;
        height: 60px;
    }
    .cast {
        padding-bottom: 50px;
    }
    .news-card {
        flex-basis: 100%;
    }
}